@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/*   color variables */
$clr-primary: #d50000;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    max-height: 100vh;
    max-width: 150vh;
    margin-top: 10px;
    margin: 0 250px;
  
}

.card {
  overflow: hidden;
  width: 310px;
  box-shadow: 0 2px 20px $clr-gray300;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 200ms ease-in;
  
  &__ribbon { 
    background-color: #7065ee;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    margin-top: 10px;
    color: #fff;
  }

  &__price {
    display: flex;
    padding: 10px;
    color: #b2b1b9;
    font-size: 10px;
    font-weight: 700;
  }

  .card__price h3 {
    font-size: 18px;
    color: #7065ee;
  }
  
  &__image {
    height: 17rem;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    padding: 1rem;
  }

  &__description {
    color: #b2b1b9;
    font-weight: 500;
    font-size: 13px;
    padding: 0 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  &__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid $clr-primary;
    background: transparent;
    color: $clr-primary;
    border-radius: $radius;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:hover &__btn {
    background: $clr-primary;
    color: white;
  }
}



// icon-styling

.icons-home {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    padding-top: 10px;
  }
  
  .name-icon {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  
  /* icon styles */
  
  .icon {
    display: flex;
    align-items: center;
  }

  //card-content
  .card_content {
    padding: 0px 30px 30px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
  }
  
  .card-content p {
    color: var(--p-text-color);
  }

  .popular {
    background-color: #7065ee;
    position: relative;
    border-radius: 8px;
    color: #fff;
    padding: 5px;
    width:fit-content;
    margin-top: -30px;
    z-index: 8;

  }