.container {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 65px 240px;
}

.search-box {
    border: 1px solid;
    border-color: #7065ee;
    border-radius: 8px;
    color: #afafb1;
    padding: 10px;
}