.container {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    margin: 6.5rem 24rem;
}

.search-box {
    border: .1rem solid;
    border-color: #7065ee;
    border-radius: .8rem;
    color: #afafb1;
    padding: 1rem;
}