@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    // background-color: #ffffff;
    background: #ffffff;
    box-shadow: 0 20px 40px -43px rgba(0, 0, 0, 0.25);
}

.logo {
    cursor: pointer;

    
}
.nav__links {
    list-style: none;
    margin-left: -500px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    color: black;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    background-color: #b2acdd;
}

button {
    padding: 9px 25px;
    margin-right: 10px;
    background-color: #7065ee;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #edf0f1;
    transition: all 0.3s ease 0s;
}


.login {
    background-color: #fff;
    color: #7065ee;
}

.buttons {
    margin-right: -100px;
}

